<app-back-header></app-back-header>

<body>
    <div class="dashboard-container">
        <!-- Drawer -->
        <div class="drawer">
          <ul>
            <li routerLink="/dashboardLogistique/logistique" routerLinkActive="active">Stock overview</li>
            <li routerLink="/dashboardLogistique/orders" routerLinkActive="active">Supplier order tracking</li>
            <li routerLink="/dashboardLogistique/listDemandeDash" routerLinkActive="active">Assignment of materials to projects</li>
            <li routerLink="/dashboardLogistique/affectVehicule" routerLinkActive="active">Vehicle assignment</li>
            <li routerLink="/dashboardLogistique/statistique" routerLinkActive="active">Stats and Performance</li>
          </ul>
        </div>
      
        <!-- Contenu principal du dashboard -->
        <div class="dashboard-content">
            <router-outlet></router-outlet> 
        </div>
      </div>
</body>