<app-app-header></app-app-header>
        <div class="fiches-de-paie-container">
            <h2>Liste des Fiches de Paie</h2>
            <table>
              <thead>
                <tr>
                  <th>Montant Initial</th>
                  <th>Jours Non Travaillés</th>
                  <th>Type de Paiement</th>
                  <th>Date de Paiement</th>
                  <th>Statut de Paiement</th>
                  <th>Montant Final</th>
                  <th>Nom Utilisateur</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fiche of fichesDePaie">
                  <td>{{ fiche.montantInitial }}</td>
                  <td>{{ fiche.joursTravailles }}</td>
                  <td>{{ fiche.typePaiement }}</td>
                  <td>{{ fiche.datePaiement | date }}</td>
                  <td>{{ fiche.statutPaiementL }}</td>
                  <td>{{ fiche.montantFinal }}</td>
                  <td>{{ fiche.nom }}</td>
                  <td> 
                    <button (click)="calculerSalaire(fiche)" class="button-hover" >Calculer Salaire</button>
                    <button (click)="navigateToPaiement(fiche)"> 💳 </button>
                    <button (click)="imprimerFiche(fiche)" > 📑</button>          
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
   <app-app-footer></app-app-footer>