<div class="container-scroller">
  <!-- Back Menu Admin Start -->
  <app-back-menu-admin></app-back-menu-admin>
  <!-- Back Menu Admin End -->

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- navbar Start -->
    <app-back-header (searchEvent)="onSearch($event)"></app-back-header> <!-- Lier l'événement -->
    <!-- navbar End -->

    <div class="container">
      <br><br>
      <br><br>
      
      <h2>Invoice Statistics</h2>
      <div class="bar-chart">
        <!-- Barre pour les factures payées -->
        <div class="bar-chart">
          <!-- Barre pour les factures payées -->
          <div *ngIf="showPaid" class="bar paid" id="paid-bar" data-label="Paid"></div>
        
          <!-- Barre pour les factures impayées -->
          <div *ngIf="showUnpaid" class="bar unpaid" id="unpaid-bar" data-label="Unpaid"></div>
        
          <!-- Barre pour le total des factures -->
          <div *ngIf="showTotal" class="bar total" id="total-bar" data-label="Total"></div>
        </div>
      </div>
    </div>
  </div>
</div>