.container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}
/* projet.component.css */
.table {
  margin-top: 20px;
}


button {
  cursor: pointer;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.chart-container {
  width: 100%; /* S'adapte à la largeur du parent */
  max-width: 600px; /* Largeur maximale du graphique */
  height: 300px; /* Hauteur du graphique */
  margin: 0 auto; /* Centrer le graphique */
}

canvas {
  width: 100% !important; /* Utiliser toute la largeur de .chart-container */
  height: 100% !important; /* Utiliser toute la hauteur de .chart-container */
}

