<app-headeer></app-headeer>

<body>
    <div class="details-container">
        <h2 class="details-title">Détails de la Demande d'Emploi</h2>
      
        <div *ngIf="isLoading">Chargement des détails...</div>
      
        <div *ngIf="!isLoading && demande">
          <div class="details-item">
            <span class="details-label">Nom :</span> 
            <span *ngIf="!isEditing" class="details-value">{{ demande.nom }}</span>
            <input *ngIf="isEditing" [(ngModel)]="demande.nom" type="text" />
          </div>
      
          <div class="details-item">
            <span class="details-label">Prénom :</span> 
            <span *ngIf="!isEditing" class="details-value">{{ demande.prenom }}</span>
            <input *ngIf="isEditing" [(ngModel)]="demande.prenom" type="text" />
          </div>
      
          <div class="details-item">
            <span class="details-label">Âge :</span> 
            <span *ngIf="!isEditing" class="details-value">{{ demande.age }}</span>
            <input *ngIf="isEditing" [(ngModel)]="demande.age" type="number" />
          </div>
      
          <div class="details-item">
            <span class="details-label">Spécialité :</span> 
            <span *ngIf="!isEditing" class="details-value">{{ demande.specialite }}</span>
            <input *ngIf="isEditing" [(ngModel)]="demande.specialite" type="text" />
          </div>
      
          <div class="details-item">
            <span class="details-label">Expérience :</span> 
            <span *ngIf="!isEditing" class="details-value">{{ demande.experience }}</span>
            <input *ngIf="isEditing" [(ngModel)]="demande.experience" type="text" />
          </div>
      
          <div class="details-item">
            <span class="details-label">Email :</span> 
            <span *ngIf="!isEditing" class="details-value">{{ demande.adresseMail }}</span>
            <input *ngIf="isEditing" [(ngModel)]="demande.adresseMail" type="email" />
          </div>
      
          <div class="btn-container">
            <button *ngIf="!isEditing" (click)="toggleEdit()" class="edit-btn">Modifier</button>
            <button *ngIf="isEditing" (click)="updateDemande()" class="save-btn">Valider</button>
            <button *ngIf="isEditing" (click)="toggleEdit()" class="cancel-btn">Annuler</button>
          </div>
        </div>
      </div>
</body>

<app-footer-home></app-footer-home>
