<app-app-header></app-app-header>
<!-- Slider Area End -->

<div class="container mt-5">
    <div class="facture-container">

      <h2>Invoice List</h2>
       <!-- Bouton Ajouter -->
    <div class="mb-3">
      <a routerLink="/add-finance" class="btn btn-primary">
        ➕ ADD
      </a>
    </div>
      <!-- Invoice List -->
      <table class="table">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Logistics Manager ID</th>
          <!-- <th>Supplier ID</th>
            <th>User ID</th>    --> 
            <th>Total Amount</th> 
            <th>Invoice Date</th>
            <th>Due Date</th>
            <th>Total Amount (Excl. Tax)</th>
            <th>Tax</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let facture of factures">
            <td>{{ facture.idCommande }}</td>
            <td>{{ facture.idResponsableLogistique }}</td>
          <!--  <td>{{ facture.idFournisseur }}</td>
            <td>{{ facture.idUtilisateur }}</td>   -->
            <td>{{ facture.montantTotal | currency }}</td>
            <td>{{ facture.dateFacture | date }}</td>
            <td>{{ facture.dateEcheance | date }}</td>
            <td>{{ facture.montantTotalHorsTaxe | currency }}</td>
            <td>{{ facture.tva | currency }}</td>
            <td>
              <!-- Bouton avec icônes et sans fond ni bordure -->
              <button
                [ngClass]="{'btn-success': facture.status === 'Paid', 'btn-danger': facture.status === 'Unpaid'}"
                (click)="toggleStatus(facture)"
              >
                {{ facture.status === 'Paid' ? '✅ Paid' : '❌ Unpaid' }}
              </button>
              
            </td>
            <td>
              <div class="button-container">
                <button (click)="deleteFacture(facture.idFacture)">🗑️</button>
                <button (click)="updateFacture(facture)">✏️</button>
                <button (click)="navigateToPaiement(facture.idFacture)">💳</button>
                
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<app-app-footer></app-app-footer>