<app-header></app-header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<body>
  <div class="container py-5">
    <h3 class="text-center mb-4 text-primary">Project Missions List</h3>
   <!-- Barre de recherche et filtre -->
   <div class="row mb-4">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Search mission by name" [(ngModel)]="searchText">
    </div>
    <div class="col-md-4">
      <select class="form-control" [(ngModel)]="selectedStatus">
        <option value="">All Statuses</option>
        <option value="TODO">TODO</option>
        <option value="DOING">DOING</option>
        <option value="SUSPENDED">SUSPENDED</option>
        <option value="DONE">DONE</option>
      </select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary w-100" (click)="filterMissions()">Filter</button>
    </div>
  </div>
    <div class="row">
      <div *ngFor="let mission of filteredMissions" class="col-md-4 mb-4">
        <div class="card shadow-lg rounded-lg border-0">
          <div class="card-body">
            <h5 class="card-title text-primary text-center">{{ mission.nom }}</h5>
            <p class="card-text text-muted text-center">{{ mission.description }}</p>
            <div class="text-center mb-3">
              <span class="badge bg-{{ mission.etatMission === 'TODO' ? 'warning' : mission.etatMission === 'DOING' ? 'info' : mission.etatMission === 'SUSPENDED' ? 'secondary' : 'success' }}">
                {{ mission.etatMission }}
              </span>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-grid gap-2">
              <button [routerLink]="['/mission-details', mission.idMission]" class="btn btn-primary w-100">
                <i class="bi bi-eye"></i> View Details
              </button>
              <button [routerLink]="['/update-mission', mission.idMission, projetId]" class="btn btn-warning w-100">
                <i class="bi bi-pencil"></i> Update Mission
              </button>
              <button (click)="deleteMission(mission.idMission)" class="btn btn-danger w-100">
                <i class="bi bi-trash"></i> Delete
              </button>
              <button (click)="viewTasks(mission.idMission)" class="btn btn-info w-100">
                <i class="bi bi-list-task"></i> View Tasks
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Button to add a mission -->
    <div class="text-center mt-4">
      <button class="btn btn-success btn-lg" (click)="redirectToAddMission()">
        <i class="bi bi-plus-circle"></i> Add Mission
      </button>
    </div>
  </div>
  
</body>
