<body>
  <div class="btns-container">
    <button class="btn-add" (click)="redirectToAddMateriel()">
      <i class="fa fa-plus"></i> Add a material
    </button>
    <button class="btn-add" (click)="redirectToAddVehicule()">
      <i class="fa fa-plus"></i> Add Vehicle
    </button>
    <button class="btn-notification" (click)="toggleNotifications()">
      <i class="fa fa-bell"></i>
      <span class="notification-badge">{{ notifications.length }}</span>
    </button>
    
    <div *ngIf="showNotifications" class="notifications-container">
      <h3>Notifications</h3>
      <ul>
        <li *ngFor="let notification of notifications">
          <i class="fa fa-exclamation-circle"></i> {{ notification.message }}
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <!-- Drawer des catégories -->
    <div class="drawer">
      <h3>Categories</h3>
      <ul>
        <li *ngFor="let cat of categories" (click)="filtrerParCategorie(cat)">
          {{ cat }}
        </li>
        <li class="reset-filter" (click)="resetFilters()">Show All</li>       
      </ul>
    </div>

    <!-- Liste des matériels -->
    <div class="materiels-container">
      <div class="title-container">
        <h2>Materials List</h2>
        
        <div class="search-container">
          <input type="text" (input)="filtrerMateriels($event)" class="search-input" placeholder="Search for a material..." />
          <i class="fa fa-search search-icon"></i>
        </div>
        
      
        <button class="export-excel" (click)="exporterMateriels()">
          <i class="fa fa-file-excel"></i> Export to Excel
        </button>
      </div>
      
      <div class="materiels-list">
        <div class="materiel-card" *ngFor="let materiel of materielsPagine">
          <div class="materiel-details">
            <h4>Name: {{ materiel.nomMateriel }}</h4>
            <p>Categorie: {{ materiel.categorie }}</p>
            <p>Quantity: {{ materiel.quantite }}</p>
            <p>Unit Price: {{ materiel.prixMateriel }}</p>
            <div class="commande-container">
              <input type="checkbox" 
                     [checked]="materielSelectionne[materiel.idMateriel]" 
                     (change)="toggleCommande(materiel.idMateriel)">
              <span>place an order</span>
              <div *ngIf="materielSelectionne[materiel.idMateriel]" class="commande-inputs">
                <input type="number" 
                       [(ngModel)]="quantites[materiel.idMateriel]" 
                       placeholder="Quantity requested">
                <button (click)="passerCommande(materiel)">✔</button>
              </div>
            </div>
            <button class="btn-delete" (click)="deleteMateriel(materiel.idMateriel)">
              <i class="fa fa-trash"></i> Delete
            </button>
            <button class="btn-edit" (click)="redirectToEditMateriel(materiel.idMateriel)">
              <i class="fa fa-pencil"></i> Update
            </button>
          </div>
        </div>
      </div>
     <!-- Pagination -->
<div class="pagination-container">
  <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">Precedent</button>
  <span>Page {{ currentPage }} / {{ totalPages() }}</span>
  <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages()">Next</button>
</div>

    </div>
  </div>

  <!-- Bouton "Passer la commande" -->
  <button *ngIf="hasSelectedMateriels()" (click)="passerCommandeGlobale()" class="btn-commande">
    Place an order
  </button>
  <div class="separator"></div>
  <!-- Section Véhicules -->
  <div class="container">
    <!-- Drawer des types de véhicules -->
    <div class="drawer">
      <h3>Type of Vehicles</h3>
      <ul>
        <li *ngFor="let type of typeVehicule" (click)="filtrerParType(type)">
          {{ type }}
        </li>
        <li class="reset-filter" (click)="resetFiltersVehicules()">Show All</li>      </ul>
    </div>

    <!-- Liste des véhicules -->
    <div class="materiels-container">
      <div class="title-container">
        <h2>Vehicles List</h2>
        <div class="search-container">
          <input type="text" (input)="filtrerVehicules($event)" class="search-input" placeholder="Search for a vehicle..." />
          <i class="fa fa-search search-icon"></i>
        </div>        
        <button class="export-excel" (click)="exporterVehicules()">
          <i class="fa fa-file-excel"></i> Export to Excel
      </button>
      
      </div>
      <div class="materiels-list">
        <div class="materiel-card" *ngFor="let vehicule of vehiculesPagine">
          <div class="materiel-details">
            <h4>Nom: {{ vehicule.nomVehicule }}</h4>
            <p>Marque: {{ vehicule.marque }}</p>
            <p>Modèle: {{ vehicule.modele }}</p>
            <p>Immatriculation: {{ vehicule.immatriculation }}</p>
            <p>Type: {{ vehicule.typeVehicule }}</p>
            <p>Disponible: {{ vehicule.disponible ? 'Oui' : 'Non' }}</p>
            <button class="btn-delete" (click)="deleteVehicule(vehicule.idVehicule)">
              <i class="fa fa-trash"></i> Delete
            </button>            
            <button class="btn-edit" (click)="redirectToEditVehicule(vehicule.idVehicule)">
              <i class="fa fa-pencil"></i> Update
            </button>
          </div>
        </div>
      </div>
      <div class="pagination-container">
        <button (click)="setPageVehicules(currentPageVehicules - 1)" 
                [disabled]="currentPageVehicules <= 1">
          Precedent
        </button>
        <span>Page {{ currentPageVehicules }} / {{ totalPagesVehicules() }}</span>
        <button (click)="setPageVehicules(currentPageVehicules + 1)" 
                [disabled]="currentPageVehicules >= totalPagesVehicules()">
          Next
        </button>
      </div>
    </div>
     
  </div>
</body>