/* Style général du body */
body {
    font-family: 'Inter', sans-serif; /* Police moderne */
    background-color: #f0f2f5; /* Fond léger */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 360px;
}

