/* Style général du body */
body {
    font-family: 'Inter', sans-serif; /* Police moderne */
    background-color: #181f26; /* Fond léger */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 60px;
}

