/* Style principal pour la page de modification */
.edit-materiel-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="number"] {
    -moz-appearance: textfield; /* Pour éviter les flèches sur les inputs number */
  }
  
  select {
    font-size: 1.1rem;
  }
  
  .form-actions {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-save {
    background-color: #4caf50;
    color: white;
  }
  
  .btn-cancel {
    background-color: #f44336;
    color: white;
  }
  
  button:hover {
    opacity: 0.8;
  }
  