.container {
    max-width: 95%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8rem;
    color: #ffffff;
}

.location-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.location-icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.table {
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

.table thead {
    background: #2e455c;
    color: white;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
    padding: 12px;
}
.table th{
    text-align: center;
    vertical-align: middle;
    padding: 12px;
    color: #adb2ce;
}

.table tbody tr {
    transition: background 0.3s ease;
}

.table tbody tr:hover {
    background: #f1f1f1;
}

.badge {
    font-size: 0.85rem;
    padding: 6px 10px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.bg-success {
    background-color: #28a745 !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

.form-select {
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #ced4da;
    transition: border 0.3s ease;
}

.form-select:focus {
    border-color: #212f3d;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.alert {
    font-size: 1rem;
    border-radius: 10px;
}
