<header>
    <!-- Header Start -->
   <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-top d-none d-lg-block">
               <div class="container-fluid">
                   <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left">
                                <ul>     
                                    <li>+216 74 567 901</li>
                                    <li>Alphas@gmail.com</li>
                                    <li>Mon - Sat 8:00 - 17:30, Sunday - CLOSED</li>
                                </ul>
                            </div>
                            <div class="header-info-right d-flex align-items-center">
                                <!-- Icônes sociales -->
                                <ul class="header-social me-3">    
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                
                                </ul>


                               
                            
                                <!-- Dropdown Login -->
                                
                            </div>
                            
                           
                            
                        </div>
                   </div>
               </div>
            </div>
           <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-1">
                            <div class="logo">
                                <!-- logo-1 -->
                                <a href="index.html" class="big-logo"><img src="assets/img/logo/logo.png" alt=""></a>
                                <!-- logo-2 -->
                                <a href="index.html" class="small-logo"><img src="assets/img/logo/loder-logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav> 
                                    <ul id="navigation">                                                                                                                   
                                        <li><a routerLink="/home">Home</a></li>
                                     
                                        <li><a routerLink="/produit">Projects</a></li>
                                        <li><a routerLink="/service">Services</a></li>
                                        <li><a routerLink="/RH">HR </a></li>
                                        <li><a routerLink="/finance">Finance</a>
                                          
                                        </li>
                                        <li><a routerLink="/Logistique">Logistic</a></li>
                                         <li><a routerLink="/inspections">Inspection</a>
                                          
                                        </li>
                                        <li><a>Connexion</a>
                                      
                                        </li>
                                        
                                    </ul>
                                </nav>
                            </div>
                        </div>             
                        <div class="col-xl-2 col-lg-2 col-md-3">
                            <div class="header-right-btn f-right d-none d-lg-block">
                                <a routerLink="/contact" class="btn">Contact </a>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
   </div>
    <!-- Header End -->
</header>
<main>
    <!-- slider Area Start-->
    <div class="slider-area ">
        <div class="single-slider hero-overly slider-height2 d-flex align-items-center" style="background-image: url('assets/img/hero/about.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap pt-100">
                            <h2>Inspections</h2>
                            <nav aria-label="breadcrumb ">
                                <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Inspections</a></li> 
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
